@use "utilities/variables"; 
@use "utilities/mixins";
@use "base/resets";
@use "base/base";
@use "layout/header";
@use "layout/footer";
@use "components/buttons";
@use "components/forms";     
@use "utilities/utilities";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');



