@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.footer {
    background-color: $bg-blanco;
    border-top: 1px solid $color-borde;
    padding: 40px 0;

    .footer-container {
        
        @include flex-center(row, space-between, flex-start);
        gap: 30px;
        flex-wrap: wrap;
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 20px;

        //  mixin de responsive para tablets/móviles
        @include mobile {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    .footer-column {
        min-width: 220px;

        h3 {
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 10px;
            color: $color-texto;
        }

        p {
            font-size: 14px;
            margin-bottom: 4px;
            color: $color-gris-suave;
        }
    }

    .footer-redes {
        @include flex-center(row, flex-start, center);
        gap: 12px;

        @include mobile {
            justify-content: center;
            margin-top: 15px;
        }

        img {
            opacity: 0.75;
            transition: transform 0.3s ease, opacity 0.3s ease; 

            &:hover {
                opacity: 1;
                transform: translateY(-3px); 
            }
        }
    }
}