@use "variables" as *; 

.text-primary-custom {
    color: $color-celeste !important; 
}

.min-vh-80 {
    min-height: 80vh;
}

.main {
    padding: 60px 0;
}

.hero-section {
    text-align: center;
    padding: 100px 20px;
}

.category-row {
    background-color: #f0f7fb;
    color: $color-celeste; 
    font-weight: 600;
}

.map-iframe {
    width: 100%;
    height: 400px;
    border: 0;
}

/* RESPONSIVE DESIGN  */
@media (max-width: 992px) {
    .footer {
        .footer-container {
            justify-content: center;
            text-align: center;
        }
    }
}

@media (max-width: 768px) {
    .header {
        .logo-wrapper {
            justify-content: center;
            margin-bottom: 15px;
        }
    }

    .footer {
        .footer-container {
            flex-direction: column;
            align-items: center;
        }

        .footer-redes {
            justify-content: center;
            margin-top: 10px;
        }
    }
}