// Identidad 
$color-celeste: #005B8E;       
$color-celeste-hover: #00446b; 
$color-rojo-cancelar: #B91C1C;
$color-blanco: #ffffff;

// Colores de Fondo y Texto 
$bg-global: #D7E4F2;           
$bg-blanco: #ffffff;           
$color-texto: #1A1A1A;         
$color-gris-suave: #4A4A4A;    
$color-borde: #BCCCDC;         

// Tipografía
$font-principal: 'Open Sans', sans-serif;

