/* sass/utilities/_variables.scss */

// Colores OSPAV
$color-celeste: #7FB3D5;
$color-celeste-hover: #5fa0c9;
$color-rojo-cancelar: #d9434e;
$color-rojo-hover: #882830;

// Colores de Fondo y Texto
$bg-global: #fcfcfc;
$bg-blanco: #ffffff;
$color-texto: #565656;
$color-borde: #f0f0f0;
$color-gris-suave: #888;

// Fuentes
$font-principal: 'Open Sans', sans-serif;