// Identidad 
$color-celeste: #005B8E;       
$color-celeste-hover: #003F63;
$color-rojo-cancelar: #B91C1C;  
$color-rojo-hover: #7F1D1D;
$color-blanco: #ffffff;

// Colores de Fondo y Texto 
$bg-global: #ffffff;           
$bg-blanco: #ffffff;
$color-texto: #1A1A1A;        
$color-gris-suave: #4A4A4A;    
$color-borde: #D1D5DB;         

// Fuentes
$font-principal: 'Open Sans', sans-serif;

