@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.btn-login {
    @include btn-style(transparent, $color-celeste, 1.5px solid $color-celeste);
    padding: 6px 18px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;

    &:hover {
        background-color: $color-celeste;
        color: $bg-blanco;
    }
}

.btn-turno {
    @include btn-style($color-celeste, $bg-blanco);
    padding: 15px 40px;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;

    &:hover {
        background-color: $color-celeste-hover;
    }
}

.btn-cancelar-rojo {
    @include btn-style($color-rojo-cancelar, white);
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;

    &:hover {
        background-color: $color-rojo-hover;
    }
}