@use "../utilities/variables" as *;

.form {
    background-color: $bg-blanco; 
    padding: 40px;
    border-radius: 8px;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    gap: 18px;

    &-login {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }

    &-cancelar {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }
}

.form-control {
    border: 1px solid #ced4da;
    padding: 10px;
}